#logo {
  width: 200px;
}

body {
  font-family: Roboto, sans-serif;
  background: url('../img/admap.png');
  background-size: cover;
}

h1 {
  font-weight: 100;
}

.nav {
  font-weight: 300;
}

.inner.cover p {
  font-size: 20px;
}

.popup-gallery img {
    margin: 10px;
    border: 1px rgb(107, 107, 107) solid;
}

.team-url {
    border-bottom: 1px rgb(117, 117, 117) dashed;
}

.team-url:focus, .team-url:hover {
    border-bottom: 1px rgb(255, 255, 255) dashed;
    text-decoration: none;
}

#vote-btn {
  width: 350px;
  height: 60px;
  font-size: 30px;
}

#video-btn {
  width: 250px;
  height: 60px;
  font-size: 30px;
  font-weight: 300;
}

.votepls {
  font-weight: 400;
}
